/* Reset cơ bản */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    height: 100vh;
}

/* Container chính */
.container {
    display: flex;
    height: 100vh;
}

/* Sidebar bên trái */
.sidebar {
    width: 20%;
    background-color: #f4f4f4;
    padding: 10px;
    overflow-y: auto;
}
.sidebar img{
    width: 100%;
    margin-bottom: 5px;
}

.user-box {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    gap: 12px; /* khoảng cách nhỏ giống hệ thống */
}

.avatar {
    width: 40px;        /* avatar nhỏ */
    height: 40px;
    object-fit: cover;  /* không bị méo */
    border-radius: 50%; /* bo tròn */
}

.user-info {
    display: flex;
    flex-direction: column;
    line-height: 1.2;
}

.user-name {
    font-weight: 700;
    font-size: 15px;
    margin: 0;
}

.user-desc {
    color: #777;
    font-size: 12px;
    margin: 2px 0 0 0;
}






.menu {
    list-style: none;
    padding: 10px;
}

.menu li {
    font-size: 15px;
    padding: 5px 0;
    cursor: pointer;
    margin: 15px;
    border-radius: 5px;

}
.menu li:hover {
    background-color: #e3e3e3;
}

.menu h4 {
    margin-top: 25px;
    font-size: 14px;
    color: #777;
}

/* Cột bên phải */
.right-column {
    width: 75%;
    display: flex;
    flex-direction: column;
    border-left: 1px solid #ccc;
}



/* Header bên trong cột phải, chia 2 bên */
.right-header {
    background-color: #150e98;
    padding: 10px 20px;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between; /* 2 bên cách đều */
    align-items: center;
    border-bottom: 1px solid #ccc;
    z-index: 500;
}

/* Bên trái header */
.header-left h2 {
    font-size: 30px;
    color: #e9e60c;
}


/* Nội dung cột phải */
.layout {
    display: flex;
    gap: 15px;
    margin-top: 15px;
}

/* Cột trái gồm 2 ô */
.left-side {
    width: 35%;              /* chiều rộng cột trái */
    display: flex;
    flex-direction: column;
    gap: 15px;               /* khoảng cách giữa 2 ô nhỏ */
}

/* Ô nhỏ */
.small-box {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid #ddd;
    height: 150px;           /* tùy chỉnh chiều cao */
    box-shadow: 0 0 6px rgba(0,0,0,0.05);
}
.small-box img {
    width: 80px;
    height: 80px;
    margin-bottom: 10px;
    align-items: center;
}

/* Cột phải là 1 ô to */
.right-side {
    width: 65%;             /* chiều rộng cột phải */
}

/* Ô lớn */
.big-box {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    height: 330px;          /* cao bằng tổng 2 ô bên trái */
    border: 1px solid #ddd;
    box-shadow: 0 0 6px rgba(0,0,0,0.05);
}

.full-box {
    width: 100%;
    background: #ffffff;
    border-radius: 12px;
    box-shadow: 0 3px 8px rgba(0,0,0,0.1);
    padding: 20px;
    margin-top: 20px;
}



